<template>
    <div class="row"> 
        <div class="col-12">
            <form>
            <div class="form-group"> 
                <label for="qouteArea">Enter New Qoute here :</label>
                <textarea name="" id="qouteArea" v-model="qoute" cols="30" rows="3" class="form-control"></textarea><br />
                <button  class="btn btn-primary form-control" @click.prevent="addqoute">
                    Add Qoute
                </button>
            </div>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            qoute:''
        }
    },
    methods:{
        addqoute(){
            this.$emit('newqoute',this.qoute);
            this.qoute="";
        }
    }
    
}
</script>
<style scoped>

</style>