<template>
<div>
    <h1>Progress Bar</h1>
<div class="progress"> 
   <div class="progress-bar" :style="{width: (qoutesCount/maxQoutes)*100 + '%'}"
   role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
   >
   {{ qoutesCount }}/{{ maxQoutes }}
   </div>
    
   </div>
  </div>  
</template>
<script>
export default {
    props:['qoutesCount','maxQoutes']
}
</script>