<template>
    <div class="row">
       <qoutes v-for="(qoute,index) in qoutes" :key= "index" @click.native= 'deleteIndex(index)'>
          {{ qoute }}
       </qoutes>
    </div>
</template>
<script>
import Qoutes from "./Qoutes.vue";
export default {
    name:"Qoutesgrid",
    props:['qoutes'],
    components:{
        Qoutes
       
    },
    methods:{
        deleteIndex(index){
            this.$emit("deleteIndex",index);
        }
    }
   
}
</script>
<style scoped>

</style>

