<template>
    <div class="col-sm-6 col-md-3">
      
        <div class="qoutes-card">
            <slot></slot>
        </div>
            
  </div>
   
</template>
<script>
export default {
    
}
</script>
<style scoped>
.qoutes-card{
    width: 100%;
    height: 50px;
    text-align: center;
    border:2px solid  #01000c;
    background-color: #66eed9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.qoutes-card:hover{
    cursor: pointer;
    background-color: #356344;
}
</style>

