<template>
  <div id="app">
  <div class="container">
    <progressbar :maxQoutes= 'maxQuotes' :qoutesCount='qoutes.length'></progressbar>
    <create-qoute @newqoute = "appendQoute"></create-qoute>
    <Qoutesgrid :qoutes="qoutes" @deleteIndex = "deleteQoute"></Qoutesgrid>
  </div>
  </div>
</template>
<script>
 import Qoutesgrid  from "@/components/Qoutesgrid.vue"
 import CreateQoute from "@/components/CreateQoute.vue"
 import progressbar from "@/components/ProgressBar.vue"
export default {

   data(){
     return{
       qoutes:["first qoute","hello"],
       maxQuotes:10

     }
   },
   components:{
    Qoutesgrid,
    CreateQoute,
    progressbar
      
  },
  methods:{
    appendQoute(qoute){
      if(this.qoutes.length>=10){
        alert("reached maximum no of qoutes..");
        return;
      }
      
      this.qoutes.push(qoute);
    },
    deleteQoute(index){
      this.qoutes.splice(index,1);
    }
  }
}
</script>
<style>
   
</style>
